body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url(image/bg-game1.jpeg);

}
button#new-game{
    width: 120px;
    height: 50px;
    align-self: flex-start;
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid red;
    background-color: #ffffff;
    border-radius: 0.5em;
    color: #f36e09;
}
button#draw-btn{
    align-self: stretch;
    padding: 0.8em;
    font-size: 1.6rem;
    font-weight: bolder;
    border: none;
    background-color: #FF7000;
    color: #ffffff;
}
#draw-btn:disabled{
    cursor:not-allowed;
}
div#draw-img{
    display: flex;
}
div.card-image{
    border: 1px solid black;
    border-radius: 5px;
    height: 165px;
    width: 118px;
    margin: 5px;
}
.img{
 height: 100%;
 width: 100%;
}
h2#winner-message{
    color: #ffffff;
    font-weight: bolder;
    text-transform: capitalize;
   
}
p#remaining{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}
.upper-text{
    display: flex;
    align-self: flex-start;
    
}
.upper-text > p{
     margin-left: 0.5em;
}
small#my-score{
    color: #ffffff;
    font-weight: bold;
}
small#computer-score{
    color: #ffffff;
    font-weight: bold;
}